.checkout {
    display: flex;
    padding: 2rem;
    background-color: #fff;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: lightgray;
}
.checkout__left {
    width: 70%;
}
.checkout__right {
    width: 25%;
}
.checkout__ad {
    width: 100%;
    margin-bottom: 1rem;
}