.header {
  display: flex;
  min-height: 6rem;
  justify-content: space-between;
  align-items: center;
  background-color: #231f20;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__logo {
  height: 6rem;
}
.header__search {
    display: flex;
    align-items: center;
}
.header__search:active {
    border-radius: 0 9px 9px 0;
    border: 3px solid #febd69;
}
.header__searchInput {
  width: 70rem;
  height: 3rem;
  border: none;
}
.header__searchInput:active {
    border: none !important;
    margin: 0;
}

.header__searchIcon {
    font-size: 3rem !important;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.header__navOption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
.header__navOptionPlainLine {
  color: #ccc;
  font-size: 1.2rem;
}
.header__navOptionBoldLine {
  font-weight: bold;
  color: #fff;
  font-size: 1.4rem;
}
.header__navOptionItemCount {
    color: #f08804;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 1.5rem;
}
.header__navOptionShopping {
    flex-direction: row;
    align-items: flex-end; 
}
.header__navOptionShoppingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none !important;
}
.header__navOptionShoppingCartIcon {
    color: #fff;
    font-size: 2.5rem !important;
}

@media (max-width: 1200px) {
  .header__searchInput {
    width: 30rem;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header__search {
      width: 95%;
  }
  .header__searchInput {
      width: 95%;
  }
  .header__nav {
      width: 95%;
  }
}
